html {
	margin: 10px;
	padding: 0;

	font: normal 100%/1.4 Georgia,serif;
}

header {
	margin: 0;
	padding: 10px;
	height: 110px;
	line-height: 30px;
	background-color: #CCC8C6;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

main {
	margin-bottom: 50px;
	/* min-height is set as follows to fix the footer at the bottom of the page when the length of the main content is short. */
	/* min-height = 100vh - (hmtl margin) - (header height) - (main bottom margin) - (footer height) - (html margin) - (compensation for extra spaces) */
	min-height: calc(100vh - 10px - 110px - 50px - 50px - 10px - 76px);

}

footer {
	margin: 0;
	padding: 10px;
	position: relative; 
	text-align: center;
	vertical-align: middle;
	/* bottom: 0px; */
	height: 40px;
	line-height: 13px;
	background-color: #CCC8C6;
}