<nav>
	<ul class="nav {{include.navclass}}">
		<li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
		<li><a href="{{site.baseurl}}/notebook/" class="{% if page.url contains 'notebook' or page.url contains 'c-programming' or page.url contains 'cpp-programming' or page.url contains 'data-structures' or page.url contains 'algorithms' or page.url contains 'linux' %}current{% endif %}">Notebook</a></li>
		<li><a href="{{site.baseurl}}/about/" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
		<li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
    <ul>
</nav>