---
layout: default
---

<h1>Categories</h1>

<nav>
    <ul>
		<li><a href="{{site.baseurl}}/c-programming/" class="{% if page.url contains 'c-programming' %}current{% endif %}">C Programming</a></li>
		<li><a href="{{site.baseurl}}/cpp-programming/" class="{% if page.url contains 'cpp-programming' %}current{% endif %}">C++ Programming</a></li>
		<li><a href="{{site.baseurl}}/data-structures/" class="{% if page.url contains 'data-structures' %}current{% endif %}">Data Structures</a></li>
		<li><a href="{{site.baseurl}}/algorithms/" class="{% if page.url contains 'algorithms' %}current{% endif %}">Algorithms</a></li>
		<li><a href="{{site.baseurl}}/linux/" class="{% if page.url contains 'linux' %}current{% endif %}">Linux</a></li>
	</ul>
</nav>

<hr class="main-separator">

{{content}}